.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*justify-content: center;*/
    /*position: fixed;*/
    /*top: 10px;*/
    z-index: 3;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_reg {
    /*position: relative;*/
    /*left: 500px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}