.btn {

}

.signIn {
    height: 40px;
    width: 128px;
    border-radius: 22px;
    color: #ffffff;
    background-color: #0055FF;
    border: none;
    font-size: 18px;
    font-family: "Inter", serif;

}

.logIn {
    height: 40px;
    width: 128px;
    font-size: 18px;
    font-family: "Inter", serif;
    border: none;
    background-color:  #E5E5E5;
    font-weight: 400;
    border-radius: 22px;


}