

.content {
    border-radius: 20px;
    margin-top: 90px;
    padding: 0;
    max-width: 1360px;
    max-height: 530px;
    /*border: 1px solid #000;*/
    display: flex;
    background: url("../../public/Background/background.png") 100% no-repeat,
    url("../../public/NFTIcons/Rectangle 26.png") no-repeat center center;
    background-size: cover, cover;
    /*background-repeat: no-repeat;*/
}

.contentLeft {
    margin: 160px 138px 229px 77px;
    max-width: 664px;
    font-size: 30px;
    color: #ffffff;
}

.contentRight {
    border: 1px solid #000;
    max-width: 424px;
    max-height: 480px;
    margin: auto 0;
    border-radius: 20px;
    background-color: white;

}

.contentRightIcon {
    width: 400px;
    height: 400px;
    padding: 10px 12px 70px 12px;
}

.descriptionIcon p{
    margin: 0;
}

.descriptionIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 11px 20px;
}